#!/usr/bin/env bash

project_dir=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)


export PATH="${project_dir}/bin:${project_dir}-sauce/bin:$PATH"
export LOCAL=1
export CFENV=DEV

if [[ -f .credentials.envrc ]]; then
    . .credentials.envrc
fi

# Interoperate with tools that set the prompt
unset PS1
