[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
scour = "*"
PyYAML = "*"
click = "*"
requests = "*"
lxml = "*"
boto3 = "*"

[pipenv]
allow_prereleases = true
